/****************************************
Base styles
****************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/****************************************
Base typography
****************************************/

p,
label {
  font-family: 'Bitter', serif;
  font-size: 1.1em;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 1rem 0 7rem;
}

/****************************************
Form
****************************************/

.form--base {
  width: 90%;
  max-width: 500px;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: auto 2fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 0.5rem;
}

label,
form p {
  justify-self: end;
  align-self: center;
}

.radio-group {
  display: flex;
  gap: 1rem;
}

.radio-group label {
  margin-left: 0.25rem;
}

/****************************************
Rectangle
****************************************/

.rectangle--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/****************************************
Code
****************************************/

code {
  font-family: 'Roboto Mono', monospace;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 0.9em;
  background-color: #f0f0f0;
  border-radius: 10px;
  position: relative;
  max-width: 100%;
}

.clipboard-img {
  position: absolute;
  max-height: 1.75rem;
  top: -0.8rem;
  right: -0.5rem;
  transform: rotate(5deg);
}

.clipboard-img:hover {
  transform: scale(1.4) rotate(5deg);
  transition: transform 0.25s ease-in-out;
}

.clipboard-img:active {
  transform: scale(2) rotate(5deg);
  transition: transform 0.05s ease-in-out;
}

/****************************************
Footer
****************************************/

footer p {
  margin: 1rem 0 1rem 0;
  text-align: center;
  font-size: 0.8em;
}

/****************************************
Media queries
****************************************/

@media screen and (min-width: 580px) {
  h1 {
    font-size: 3em;
  }
  code {
    font-size: 1em;
  }
  footer p {
    font-size: 0.9em;
  }
}
