/****************************************
Base styles
****************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/****************************************
Base typography
****************************************/

p,
label {
  font-family: 'Bitter', serif;
  font-size: 1.1em;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 1rem 0 5rem;
}

/****************************************
Form
****************************************/

.form--base {
  width: 90%;
  max-width: 500px;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto 2fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 0.5rem;
}

label {
  justify-self: end;
  align-self: center;
}

code {
  font-family: 'Roboto Mono', monospace;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.1em;
  background-color: #f0f0f0;
  border-radius: 10px;
}

/****************************************
Footer
****************************************/

footer p {
  margin: 2rem 0 1rem 0;
  text-align: center;
  font-size: 1em;
}

/****************************************
Media queries
****************************************/

@media screen and (max-width: 410px) {
  code {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 680px) {
  h1 {
    font-size: 3em;
  }
}
