/****************************************
Base styles
****************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****************************************
Base typography
****************************************/

p,
label {
  font-family: 'Bitter', serif;
  font-size: 1.1em;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
}

/****************************************
Form
****************************************/

.form--base {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.form--slider {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.form--slider input {
  flex: 1;
}

.label--margin-l {
  margin-left: 1em;
}

.label--margin-r {
  margin-right: 1em;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 10px;
}
